[Unit]
Description=KlipperScreen
After=moonraker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
SupplementaryGroups=klipperscreen
WorkingDirectory=/home/pi/KlipperScreen
Environment="KS_XCLIENT=/home/pi/.KlipperScreen-env/bin/python /home/pi/KlipperScreen/screen.py"
ExecStartPre/home/pi/GingerUpdater/screen.py
ExecStart="/home/pi/KlipperScreen/scripts/KlipperScreen-start.sh"

[Install]
WantedBy=multi-user.target
